<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated projeto -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="sisgom.bean.presentation.BeanModelWizardID"
            name="%_UI_BeanModelWizard_label"
            class="sisgom.bean.presentation.BeanModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BeanModelFile.gif">
         <description>%_UI_BeanModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated projeto -->
      <editor
            id="sisgom.bean.presentation.BeanEditorID"
            name="%_UI_BeanEditor_label"
            icon="icons/full/obj16/BeanModelFile.gif"
            extensions="bean"
            class="sisgom.bean.presentation.BeanEditor"
            contributorClass="sisgom.bean.presentation.BeanActionBarContributor">
      </editor>
   </extension>

</plugin>
